<!-- Seção falando sobre os equipamentos -->
<section class="py-lg-3 text-center container">
    <div class="row py-lg-3">
        <div class="col-sm-3 mx-auto p-2">
            <h1 class="fw-light">Mauris.</h1>
            <p class="lead text-muted">
                Pellentesque ut nisi erat. Maecenas dictum dictum dui, id interdum dignissim eget. 
                Sed sit amet tristique mauris. Vivamus  egestas erat. 
                In velit felis,varius commodo nisl pellentesque, id ullamcorper nisl arcu non ante. 
                Vestibulum euismod, elit sed pharetra rhoncus venenatis.
            </p>
        </div>
        <div class="col-sm-3 mx-auto p-2">
            <h1 class="fw-light">Pharetra.</h1>
            <p class="lead text-muted">
                Pellentesque ut nisi erat. Maecenas dictum dictum dui, id interdum dignissim eget. 
                Sed sit amet tristique mauris. Vivamus  egestas erat. 
                In velit felis,varius commodo nisl pellentesque, id ullamcorper nisl arcu non ante. 
                Vestibulum euismod, elit sed pharetra rhoncus venenatis.
            </p>
        </div>
        <div class="col-sm-3 mx-auto p-2">
            <h1 class="fw-light">Rhoncus.</h1>
            <p class="lead text-muted">
                Pellentesque ut nisi erat. Maecenas dictum dictum dui, id interdum dignissim eget. 
                Sed sit amet tristique mauris. Vivamus  egestas erat. 
                In velit felis,varius commodo nisl pellentesque, id ullamcorper nisl arcu non ante. 
                Vestibulum euismod, elit sed pharetra rhoncus venenatis.
            </p>
        </div>
    </div>
</section>
