<!-- Seção para apresentação -->
<section class="py-lg-3 text-center container">
    <div class="row py-lg-5">
        <div class="col-md-8 mx-auto">
            <h1 class="fw-light">Vestibulum.</h1>
            <p class="lead text-muted">
                Pellentesque ut nisi erat. Maecenas dictum dictum dui, id interdum dignissim eget. 
                Sed sit amet tristique mauris. Vivamus  egestas erat. 
                In velit felis,varius commodo nisl pellentesque, id ullamcorper nisl arcu non ante. 
                Vestibulum euismod, elit sed pharetra rhoncus venenatis.
            </p>
        </div>
    </div>
</section>

<!-- Seção para imagens em Destaque -->
<section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="assets/images/Destaque1.jpg" alt="tomb raider">      
                        <div class="card-body">
                            <h3>Lorem ipsum.</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Magnam molestias inventore, sed corrupti fugit eum voluptas! 
                                Quod nemo amet eligendi ex odio quisquam corrupti distinctio, 
                                et modi, ab eaque maxime?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="assets/images/destaque2.jpg" alt="tomb raider">
                        <div class="card-body">
                            <h3>Lorem.</h3>
                            <p class="card-text">
                                Magnam non esse deleniti, sequi quos eligendi?
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Provident maiores tempora corporis recusandae aliquid minus 
                                debitis eius iusto distinctio atque quo corrupti veniam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>