<!-- Atividade inserir um carrossel de imagens -->
<section>
    <div class="container">
        <div id="slideShow" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicadores -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="1" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="2" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="3" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="4" aria-label="Slide 4"></button>
            </div>

            <!-- Imagens do Carrossel -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="assets/images/Cover_1.jpg" class="d-block w-100" alt="tomb raider">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="assets/images/Cover_2.jpg" class="d-block w-100" alt="tomb raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_3.jpg" class="d-block w-100" alt="tomb raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_4.jpg" class="d-block w-100" alt="tomb raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_5.jpg" class="d-block w-100" alt="tomb raider">
                </div>
            </div>

            <!-- Controle voltar -->
            <button class="carousel-control-prev" type="button" data-bs-target="#slideShow" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>

            <!-- controle avançar -->
            <button class="carousel-control-next" type="button" data-bs-target="#slideShow" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próxima</span>
            </button>
        </div>
    </div>
</section>