<!-- Seção falando sobre os equipamentos -->
<section class="py-lg-3 text-center container">
    <div class="row py-lg-3">
        <div class="col-sm-3 mx-auto p-2">
            <h1 class="fw-light">Vivamus.</h1>
            <p class="lead text-muted">
                Pellentesque ut nisi erat. Maecenas dictum dictum dui, id interdum dignissim eget. 
                Sed sit amet tristique mauris. Vivamus  egestas erat. 
                In velit felis,varius commodo nisl pellentesque, id ullamcorper nisl arcu non ante. 
                Vestibulum euismod, elit sed pharetra rhoncus venenatis.
            </p>
        </div>
        <div class="col-sm-3 mx-auto p-2">
            <h1 class="fw-light">Vivamus.</h1>
            <p class="lead text-muted">
                Pellentesque ut nisi erat. Maecenas dictum dictum dui, id interdum dignissim eget. 
                Sed sit amet tristique mauris. Vivamus  egestas erat. 
                In velit felis,varius commodo nisl pellentesque, id ullamcorper nisl arcu non ante. 
                Vestibulum euismod, elit sed pharetra rhoncus venenatis.
            </p>
        </div>
        <div class="col-sm-3 mx-auto p-2">
            <h1 class="fw-light">Vivamus.</h1>
            <p class="lead text-muted">
                Pellentesque ut nisi erat. Maecenas dictum dictum dui, id interdum dignissim eget. 
                Sed sit amet tristique mauris. Vivamus  egestas erat. 
                In velit felis,varius commodo nisl pellentesque, id ullamcorper nisl arcu non ante. 
                Vestibulum euismod, elit sed pharetra rhoncus venenatis.
            </p>
        </div>
    </div>
</section>

<!-- Seção para Galeria Equipamentos -->
<section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="assets/images/book-1.jpg" alt="">     
                        <div class="card-body">
                            <h3>Aliquam tincidunt.</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Sed pharetra ullamcorper diam, vitae feugiat nulla ultricies sit amet. Phasellus nec urna sapien. 
                                    Aliquam vestibulum bibendum efficitur. Pellentesque ut nisi erat. 
                                    Maecenas dictum dictum dui, id interdum erat dignissim eget. Aliquam pharetra risus eget mi euismod tincidunt.
                                </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#">  
                                        Comprar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"><!-- col start -->
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="assets/images/book-2.jpg" alt="">
                        <div class="card-body">
                            <h3>Pellentesque erat.</h3>
                                <p class="card-text">
                                    Aliquam vestibulum bibendum efficitur. Pellentesque ut nisi erat. 
                                    Maecenas dictum dictum dui, id interdum erat dignissim eget. Aliquam pharetra risus eget mi euismod tincidunt.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Sed pharetra ullamcorper diam, vitae feugiat nulla ultricies sit amet. Phasellus nec urna sapien. 
                                </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#">  
                                        Comprar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- col end -->
                <div class="col"><!-- col start -->
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="assets/images/book-3.jpg" alt="">
                        <div class="card-body">
                            <h3>Maecenas erat.</h3>
                                <p class="card-text">
                                    Sed pharetra ullamcorper diam, vitae feugiat nulla ultricies sit amet. Phasellus nec urna sapien. 
                                    Aliquam vestibulum bibendum efficitur. Pellentesque ut nisi erat. 
                                    Maecenas dictum dictum dui, id interdum erat dignissim eget. Aliquam pharetra risus eget mi euismod tincidunt.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#">  
                                        Comprar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>